Repository andrewmolyuk/andrew.molyuk.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npx remark --frail --quiet ., npx stylelint --quiet, npx eslint --quiet

.lintstagedrc:

{
  "*.md": [
    "npx remark --frail --quiet ."
  ],
  "*.{css,scss}": [
    "npx stylelint --quiet"
  ],
  "*.js": [
    "npx eslint --quiet"
  ]
}

Fix image issue
  content/blog/howto-add-gpg-to-github/github-commit.png
Due: none

Fix minor text issues
  content/blog/howto-add-gpg-to-github/index.md
Due: npx remark --frail --quiet .

Add PGP public key
  static/andrewmolyuk.asc
Due: none

Update images resolution
  content/blog/howto-add-gpg-to-github/github-commit.png
  content/blog/howto-add-gpg-to-github/github-gpg.png
  content/blog/howto-add-gpg-to-github/idea-gpg.png
  content/blog/howto-add-gpg-to-github/index.md
  content/blog/howto-add-gpg-to-github/pinentry.png
Due: npx remark --frail --quiet .

Remove public pgp file
  static/andrewmolyuk.asc
Due: none

Add post about pgp in the apple mail
  content/blog/howto-add-gpg-to-apple-mail/3112472619_64b8575c51_o.jpg
  content/blog/howto-add-gpg-to-apple-mail/index.md
  content/blog/howto-add-gpg-to-apple-mail/mail-compose.png
  content/blog/howto-add-gpg-to-apple-mail/mail-free-gpgmail.png
  content/blog/howto-add-gpg-to-apple-mail/mail-plugins.png
Due: npx remark --frail --quiet .

Fix page titles
  content/links/_index.md
  content/projects/_index.md
Due: npx remark --frail --quiet .

Fix minor issues
  content/links/misc.md
  layouts/404.html
Due: npx remark --frail --quiet .

Fix minor issues
  content/links/misc.md
Due: npx remark --frail --quiet .

Fix map links
  content/links/misc.md
Due: npx remark --frail --quiet .

Fix table styles
  assets/css/styles.scss
Due: npx stylelint --quiet

Add post about mongo replica set
  content/blog/howto-setup-mongodb-replica-in-aws-with-docker/IBM_1011_and_IBM_1418_as_IBM_1460_accessories_(1).jpg
  content/blog/howto-setup-mongodb-replica-in-aws-with-docker/index.md
Due: npx remark --frail --quiet .

Fix minor styles issues
  layouts/taxonomy/terms.html
Due: none

Add free images resources link
  content/links/ux-ui.md
Due: npx remark --frail --quiet .

Fix minor style issues
  assets/css/styles.scss
Due: npx stylelint --quiet

Add diagram to post about mongo replica
  content/blog/howto-setup-mongodb-replica-in-aws-with-docker/index.md
  content/blog/howto-setup-mongodb-replica-in-aws-with-docker/mongo-replica.drawio
  content/blog/howto-setup-mongodb-replica-in-aws-with-docker/mongo-replica.png
Due: npx remark --frail --quiet .

Fix minor style issues
  layouts/_default/_markup/render-image.html
Due: none

Fix minor text issues
  content/blog/howto-setup-mongodb-replica-in-aws-with-docker/index.md
Due: npx remark --frail --quiet .

Fix code block styles
  config.toml
Due: none

Add resume and breaking news
  layouts/index.html
  static/Andrew Molyuk.docx
  static/Andrew Molyuk.pdf
Due: none

Fix color typo
  layouts/index.html
Due: none

Fix links in the documents
  static/Andrew Molyuk.docx
  static/Andrew Molyuk.pdf
Due: none

Fix colors on the home page
  layouts/index.html
Due: none

Add post about docker swarm with monitoring
  content/blog/howto-setup-docker-swarm-and-monitoring/Femmes_au_travail_a_l_Arsenal_Saint-Malo_entre_1940_et_1945.jpg
  content/blog/howto-setup-docker-swarm-and-monitoring/alerts-slack.png
  content/blog/howto-setup-docker-swarm-and-monitoring/dashboard-swarm.json
  content/blog/howto-setup-docker-swarm-and-monitoring/grafana.png
  content/blog/howto-setup-docker-swarm-and-monitoring/index.md
  content/blog/howto-setup-docker-swarm-and-monitoring/portainer.png
Due: npx remark --frail --quiet .

Fix create time
  content/blog/howto-setup-docker-swarm-and-monitoring/index.md
Due: npx remark --frail --quiet .

Fix useless token
  content/blog/howto-setup-docker-swarm-and-monitoring/index.md
Due: npx remark --frail --quiet .

Add post about migration to microservices
  content/blog/microservices-best-practices/14778621801.jpg
  content/blog/microservices-best-practices/index.md
Due: npx remark --frail --quiet .

Add post about migration to microservices
  content/blog/microservices-best-practices/index.md
Due: npx remark --frail --quiet .

Add post about terminal process
  content/blog/where-to-run-when-you-were-fired-in-israel/Caen_Cathedral_Shelters_Homeless_B7101.jpg
  content/blog/where-to-run-when-you-were-fired-in-israel/IMG_8870.jpg
  content/blog/where-to-run-when-you-were-fired-in-israel/index.md
  content/blog/where-to-run-when-you-were-fired-in-israel/taasuka-cv.png
Due: npx remark --frail --quiet .

Fix minor text issues
  content/blog/where-to-run-when-you-were-fired-in-israel/index.md
Due: npx remark --frail --quiet .

Add post about monorepo and polyrepo.
  content/blog/monorepo-vs-polyrepo/Harry_Wann_paints_pin-up_girl_1944.jpg
  content/blog/monorepo-vs-polyrepo/index.md
  content/blog/where-to-run-when-you-were-fired-in-israel/Caen_Cathedral_Shelters_Homeless_B7101.jpg
  content/blog/where-to-run-when-you-were-fired-in-israel/IMG_8870.jpg
  content/blog/where-to-run-when-you-were-fired-in-israel/index.md
  content/blog/where-to-run-when-you-were-fired-in-israel/taasuka-cv.png
Due: npx remark --frail --quiet .

Fix minor text issues
  content/blog/monorepo-vs-polyrepo/index.md
Due: npx remark --frail --quiet .

Fix minor text issues
  content/blog/i-built-a-room-for-my-office/index.md
Due: npx remark --frail --quiet .
