Repository andrewmolyuk/andrew.molyuk.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npx remark --frail --quiet ., npx stylelint --quiet, npx eslint --quiet

.lintstagedrc:

{
  "*.md": [
    "npx remark --frail --quiet ."
  ],
  "*.{css,scss}": [
    "npx stylelint --quiet"
  ],
  "*.js": [
    "npx eslint --quiet"
  ]
}

Rename post names
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-colorize-website-with-tailwindcss/29681523075_5b751dfe8c_o.jpg
  content/blog/howto-colorize-website-with-tailwindcss/index.md
  content/blog/howto-deploy-hugo-to-netlify/3230025782_64cf426910_o.jpg
  content/blog/howto-deploy-hugo-to-netlify/index.md
  content/blog/howto-deploy-hugo-to-netlify/netlify-domains.png
  content/blog/howto-deploy-hugo-to-netlify/netlify-godaddy.png
  content/blog/howto-deploy-hugo-to-netlify/netlify-hugo.png
  content/blog/howto-deploy-hugo-to-netlify/netlify-repository.png
Due: npx remark --frail --quiet .

Add netlify status badge
  README.md
  content/blog/howto-deploy-hugo-to-netlify/index.md
Due: npx remark --frail --quiet .

Fix minor style issues
  assets/css/styles.scss
Due: npx stylelint --quiet

Fix tag names
  content/blog/getting-started/index.md
Due: npx remark --frail --quiet .

Fix minor style issues
  layouts/404.html
  layouts/_default/baseof.html
  layouts/taxonomy/term.html
Due: none

Add timeline to the home page
  layouts/index.html
Due: none

Fix minor style issues
  layouts/index.html
Due: none

Add telegram link
  layouts/partials/footer.html
Due: none

Add project empty pages
  content/projects/mongo-leader.md
  content/projects/openSCAD.md
  content/projects/pixar.md
  layouts/projects/list.html
  layouts/projects/single.html
Due: npx remark --frail --quiet .

Fix minor issues
  content/blog/howto-deploy-hugo-to-netlify/index.md
Due: npx remark --frail --quiet .

Fix minor issues
  layouts/index.html
Due: none

Remove about from navigation
  layouts/partials/header.html
Due: none

Rename list into blog-list
  layouts/blog/list.html
  layouts/partials/blog-list.html
  layouts/taxonomy/term.html
Due: none

Fix blog width issue
  layouts/partials/blog-list.html
Due: none

Publish empty project pages
  content/projects/mongo-leader.md
  content/projects/openSCAD.md
  content/projects/pixar.md
Due: npx remark --frail --quiet .

Fix blog tags
  content/blog/getting-started/index.md
  content/blog/howto-colorize-website-with-tailwindcss/index.md
  content/blog/howto-create-hugo-website/index.md
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
Due: npx remark --frail --quiet .

Fix minor issues
  assets/css/styles.scss
  layouts/index.html
Due: npx stylelint --quiet

Fix email link
  layouts/index.html
Due: none

Add seo meta information to the page
  layouts/partials/head.html
  layouts/partials/seo-meta.html
Due: none

Fix seo meta information
  config.toml
  layouts/partials/seo-meta.html
Due: none

Fix minor styles issues
  assets/css/styles.scss
Due: npx stylelint --quiet

Add post about golang project structure
  content/blog/golang-project-structure/33846657951_18f146596a_o.jpg
  content/blog/golang-project-structure/index.md
Due: npx remark --frail --quiet .

Fix Lighthouse violations
  layouts/index.html
  layouts/partials/header.html
Due: none

Set summary marker manually
  content/blog/getting-started/index.md
  content/blog/golang-project-structure/index.md
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-colorize-website-with-tailwindcss/index.md
  content/blog/howto-create-hugo-website/index.md
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
  content/blog/howto-deploy-hugo-to-netlify/index.md
Due: npx remark --frail --quiet .

Fix Lighthouse violations
  layouts/partials/seo-meta.html
Due: none

Fix minor text issues
  content/blog/getting-started/index.md
  content/blog/golang-project-structure/index.md
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-colorize-website-with-tailwindcss/index.md
  content/blog/howto-create-hugo-website/index.md
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
  layouts/index.html
Due: npx remark --frail --quiet .

Update dependencies
  package-lock.json
  package.json
Due: none

Install netlify-plugin-lighthouse
  netlify.toml
  package-lock.json
  package.json
Due: none

Fix netlify lighthouse configuration
  netlify.toml
Due: none

Fix minor Lighthouse issues
  layouts/partials/blog-list.html
  layouts/partials/tags.html
Due: none

Fix blog section title
  content/blog/_index.md
Due: npx remark --frail --quiet .

Fix minor issues
  content/blog/golang-project-structure/index.md
  layouts/partials/seo-meta.html
Due: npx remark --frail --quiet .

Fix minor issues
  layouts/partials/seo-meta.html
  layouts/taxonomy/terms.html
Due: none
