Repository andrewmolyuk/andrew.molyuk.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npx remark --frail --quiet ., npx stylelint --quiet, npx eslint --quiet

.lintstagedrc:

{
  "*.md": [
    "npx remark --frail --quiet ."
  ],
  "*.{css,scss}": [
    "npx stylelint --quiet"
  ],
  "*.js": [
    "npx eslint --quiet"
  ]
}

Refactor articles for clarity and conciseness; improve formatting and remove redundant phrases in posts.
  .prettierrc
  README.md
  content/posts/eslint-plugin-vue-modular/index.md
  content/posts/getting-started/index.md
  content/posts/golang-project-structure/index.md
  content/posts/howto-add-gpg-to-apple-mail/index.md
  content/posts/howto-add-gpg-to-github/index.md
  content/posts/howto-add-linters-to-hugo/index.md
  content/posts/howto-colorize-website-with-tailwindcss/index.md
  content/posts/howto-create-hugo-website/index.md
  content/posts/howto-create-vpc-with-ansible/index.md
  content/posts/howto-deploy-hugo-site-with-github-actions/index.md
  content/posts/howto-deploy-hugo-to-netlify/index.md
  content/posts/howto-pass-build-info-into-docker/index.md
  content/posts/howto-run-lighthouse-on-netlify/index.md
  content/posts/howto-setup-docker-swarm-and-monitoring/index.md
  content/posts/howto-setup-mongodb-replica-in-aws-with-docker/index.md
  content/posts/i-constructed-a-room-to-serve-as-my-office/index.md
  content/posts/microservices-best-practices/index.md
  content/posts/monorepo-vs-polyrepo/index.md
  content/posts/octopi-setup-on-raspberry-pi/index.md
  content/posts/prevent-use-effect-called-twice/index.md
  content/posts/review-howard-leight-impact-pro/index.md
  content/posts/review-jbl-tour-pro-2/index.md
  content/posts/task-estimations-and-responsibility/index.md
Due: npx remark --frail --quiet .

feat: add new post about tools I use in the daily development
  content/posts/tools-and-workflow-for-modern-development/index.md
  content/posts/tools-and-workflow-for-modern-development/index.png
Due: npx remark --frail --quiet .

fix: publish article on tools and workflow for modern development
  content/posts/tools-and-workflow-for-modern-development/index.md
Due: npx remark --frail --quiet .

fix: add missing separator for content in tools and workflow article
  content/posts/tools-and-workflow-for-modern-development/index.md
Due: npx remark --frail --quiet .

chore: update markdownlint to version 0.39.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

fix: update devDependencies for markdownlint, markdownlint-cli, and prettier
  content/posts/howto-setup-mongodb-replica-in-aws-with-docker/index.md
  go.mod
  go.sum
  package-lock.json
  package.json
Due: npx remark --frail --quiet .

fix: update hugo-porto/theme dependency to version 0.2.3
  go.mod
  go.sum
Due: none

fix: update hugo-porto/theme dependency to version 0.2.4
  go.mod
  go.sum
Due: none

fix: update hugo-porto/theme dependency to version 0.3.1 and add toggle theme to navbar.toml
  data/navbar.toml
  go.mod
  go.sum
Due: none

fix: update hugo-porto/theme dependency to version 0.3.2
  go.mod
  go.sum
Due: none

fix: update hugo-porto/theme dependency to version 0.3.3
  go.mod
  go.sum
Due: none

Refactor code structure for improved readability and maintainability
  content/posts/checkmeup-monitoring-for-solo-developers/index.md
  content/posts/checkmeup-monitoring-for-solo-developers/index.png
Due: npx remark --frail --quiet .

fix: update index.png for checkmeup monitoring post
  content/posts/checkmeup-monitoring-for-solo-developers/index.png
Due: none

feat: bootstrap empty Vue 3 + TypeScript + Tailwind v4 project
  .gitignore
  .vscode/extensions.json
  index.html
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  public/icons.svg
  src/App.vue
  src/main.ts
  src/style.css
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npx stylelint --quiet

feat: implement Molyuk Site v2 design as Vue 3 components
  src/App.vue
  src/components/AgentLogTerminal.vue
  src/components/AppFooter.vue
  src/components/AppHeader.vue
  src/components/ApproachSection.vue
  src/components/ContactSection.vue
  src/components/HeroSection.vue
  src/components/ProjectsSection.vue
  src/components/SkillsSection.vue
  src/components/TypewriterEyebrow.vue
  src/style.css
Due: npx stylelint --quiet

fix: wrap base styles in @layer base so Tailwind utilities can override them
  src/style.css
Due: npx stylelint --quiet

fix: highlight all skill nodes when hovering the central AI node
  src/components/SkillsSection.vue
Due: none

build: deploy static site to Cloudflare Workers via assets binding
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wrangler.jsonc
Due: none

feat: replace favicon with terminal-prompt mark from the design
  index.html
  public/favicon-180.png
  public/favicon-32.png
  public/favicon.svg
  public/icons.svg
Due: none

feat: add Open Graph / Twitter card social sharing image
  index.html
  public/og-image.png
Due: none

fix: repair pnpm-workspace.yaml causing Cloudflare Workers Builds failure
  package.json
  pnpm-workspace.yaml
Due: none

feat: make the skills graph keyboard-accessible, respect reduced motion
  src/components/SkillsSection.vue
  src/style.css
Due: npx stylelint --quiet

feat: add SEO meta description, canonical URL, JSON-LD, robots/sitemap
  index.html
  public/robots.txt
  public/sitemap.xml
Due: none

feat: add Cloudflare Web Analytics
  index.html
Due: none

docs: rewrite README for the current stack and deploy setup
  README.md
Due: npx remark --frail --quiet .

chore: add ESLint + Prettier
  .prettierignore
  .prettierrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/AgentLogTerminal.vue
  src/components/AppFooter.vue
  src/components/AppHeader.vue
  src/components/ApproachSection.vue
  src/components/ContactSection.vue
  src/components/HeroSection.vue
  src/components/ProjectsSection.vue
  src/components/SkillsSection.vue
  src/components/TypewriterEyebrow.vue
  tsconfig.json
  wrangler.jsonc
Due: npx eslint --quiet

test: add Vitest + regression tests for the skills graph logic
  package.json
  pnpm-lock.yaml
  src/components/SkillsSection.vue
  src/lib/skillsGraph.test.ts
  src/lib/skillsGraph.ts
Due: none

content: update Instrumenta stats after pipeline optimization
  src/components/ProjectsSection.vue
Due: none

content: show full domain in header prompt, refresh og-image
  public/og-image.png
  src/components/AppHeader.vue
Due: none

chore: add Claude Code permission allowlist
  .claude/settings.json
Due: none

content: fix hero/approach claims and hero terminal credibility
  index.html
  src/components/AgentLogTerminal.vue
  src/components/AppFooter.vue
  src/components/ApproachSection.vue
  src/components/HeroSection.vue
  src/components/ProjectsSection.vue
  src/components/TypewriterEyebrow.vue
  src/lib/skillsGraph.ts
Due: none

perf: load Google Fonts via link tags instead of CSS @import
  index.html
  src/style.css
Due: npx stylelint --quiet

seo: add llms.txt per llmstxt.org convention
  public/llms.txt
Due: none

perf: self-host Inter and JetBrains Mono instead of Google Fonts
  index.html
  public/fonts/inter-latin.woff2
  public/fonts/jetbrains-mono-latin.woff2
  src/style.css
Due: npx stylelint --quiet

content: add clockcover project card
  src/components/ProjectsSection.vue
Due: none

content: update og-image social banner
  public/og-image.png
Due: none

content: add bunderlog project card
  src/components/ProjectsSection.vue
Due: none

content: reorder bunderlog after checkmeup
  src/components/ProjectsSection.vue
Due: none

content: lowercase instrumenta title to match other project cards
  src/components/ProjectsSection.vue
Due: none
