Repository andrewmolyuk/andrew.molyuk.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npx remark --frail --quiet ., npx stylelint --quiet, npx eslint --quiet

.lintstagedrc:

{
  "*.md": [
    "npx remark --frail --quiet ."
  ],
  "*.{css,scss}": [
    "npx stylelint --quiet"
  ],
  "*.js": [
    "npx eslint --quiet"
  ]
}

Add linters to git pre-commit hook
  .husky/pre-commit
  .lintstagedrc
  content/blog/howto-add-linters-to-hugo/index.md
  package.json
Due: npx remark --frail --quiet .

Add linters to git pre-commit hook
  content/blog/howto-add-linters-to-hugo/index.md
Due: npx remark --frail --quiet .

Add MIT license
  LICENSE
  config.toml
  layouts/partials/footer.html
Due: none

Fix keywords
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-create-hugo-website/index.md
Due: npx remark --frail --quiet .

Create hugo.yml
  .github/workflows/hugo.yml
Due: none

Remove GitHub Actions workflow
  .github/workflows/hugo.yml
Due: none

Add postcss-cli
  package-lock.json
  package.json
Due: none

Remove draft flag from front-matter
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-create-hugo-website/index.md
Due: npx remark --frail --quiet .

Add post about deployment
  config.toml
  content/blog/howto-deploy-hugo-site-with-guthub-actions/14192638753_bc64226378_o.jpg
  content/blog/howto-deploy-hugo-site-with-guthub-actions/github-pages-hugo-actions.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/github-pages-hugo-add-domain.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/github-pages-hugo-commit.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/github-pages-hugo-custom-domain.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/github-pages-hugo-published.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/github-pages-hugo.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/godaddy-dns.png
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
  layouts/partials/head.html
Due: npx remark --frail --quiet .

Add initial styling
  .eslintrc
  .stylelintrc
  Makefile
  assets/css/styles.scss
  assets/js/tw-elements.umd.min.js
  config.toml
  content/blog/getting-started/index.md
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-create-hugo-website/index.md
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
  layouts/404.html
  layouts/_default/_markup/render-image.html
  layouts/_default/baseof.html
  layouts/blog/list.html
  layouts/blog/single.html
  layouts/index.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/partials/pagination.html
  layouts/partials/tags.html
  layouts/taxonomy/term.html
  package-lock.json
  package.json
  static/favicon.svg
  tailwind.config.js
Due: npx remark --frail --quiet ., npx stylelint --quiet, npx eslint --quiet

Add subtitle for historic images
  layouts/blog/single.html
Due: none

Fix cover title
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
Due: npx remark --frail --quiet .

Add cat to 404 page
  layouts/404.html
Due: none

Fix minor issues
  layouts/_default/baseof.html
  layouts/partials/head.html
  layouts/partials/header.html
Due: none

Fix typography styles
  assets/css/styles.scss
  layouts/blog/single.html
  layouts/partials/tags.html
Due: npx stylelint --quiet

Fix home page text
  layouts/index.html
Due: none

Fix favicon image
  layouts/partials/head.html
  layouts/partials/header.html
  static/favicon.svg
Due: none

Fix minor issues
  layouts/blog/list.html
  layouts/blog/single.html
  layouts/taxonomy/term.html
Due: none

Add initial post about colorize website with TailwindCSS
  content/blog/colorize-website-with-tailwindcss/29681523075_5b751dfe8c_o.jpg
  content/blog/colorize-website-with-tailwindcss/index.md
Due: npx remark --frail --quiet .

Remove tailwinds-ui
  .eslintrc
  assets/css/styles.scss
  assets/js/tw-elements.umd.min.js
  layouts/partials/footer.html
  package-lock.json
  package.json
  tailwind.config.js
Due: npx stylelint --quiet, npx eslint --quiet

Add content
  content/blog/colorize-website-with-tailwindcss/index.md
Due: npx remark --frail --quiet .

Add post about transfer to netlify
  content/blog/deploy-hugo-to-netlify/3230025782_64cf426910_o.jpg
  content/blog/deploy-hugo-to-netlify/index.md
  content/blog/deploy-hugo-to-netlify/netlify-domains.png
  content/blog/deploy-hugo-to-netlify/netlify-godaddy.png
  content/blog/deploy-hugo-to-netlify/netlify-hugo.png
  content/blog/deploy-hugo-to-netlify/netlify-repository.png
Due: npx remark --frail --quiet .

Add favicon files
  layouts/partials/head.html
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/mstile-150x150.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
Due: none

Add favicon files
  layouts/partials/head.html
  static/favicon.svg
Due: none

Disable GitHub Pages workflow
  .github/workflows/hugo.yml
Due: none

Add dark support to favicon.svg
  static/favicon.svg
Due: none

Fix minor issues
  content/blog/deploy-hugo-to-netlify/index.md
Due: npx remark --frail --quiet .

Fix header and footer templates
  layouts/_default/baseof.html
  layouts/partials/footer.html
  layouts/partials/header.html
Due: none

Fix header and footer templates
  layouts/partials/header.html
Due: none

Fix footer template
  layouts/partials/footer.html
Due: none

Remove async styles
  layouts/partials/head.html
Due: none

Fix minor style issues
  assets/css/styles.scss
Due: npx stylelint --quiet

Add common list template
  layouts/blog/list.html
  layouts/partials/list.html
  layouts/taxonomy/term.html
Due: none
