Repository andrewmolyuk/andrew.molyuk.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npx remark --frail --quiet ., npx stylelint --quiet, npx eslint --quiet

Add post about lighthouse in netlify
  content/blog/howto-run-lighthouse-on-netlify/42725036290_4f98e57526_o.jpg
  content/blog/howto-run-lighthouse-on-netlify/index.md
  content/blog/howto-run-lighthouse-on-netlify/netlify-lighthouse.png
Due: npx remark --frail --quiet .

Publish post about lighthouse in netlify
  content/blog/howto-run-lighthouse-on-netlify/index.md
Due: npx remark --frail --quiet .

Fix minor text issues
  content/blog/howto-run-lighthouse-on-netlify/index.md
Due: npx remark --frail --quiet .

Rearrange projects area
  Makefile
  content/blog/howto-create-hugo-website/index.md
  content/projects/andrew-molyuk-com/44843038664_2916a05d04_o.jpg
  content/projects/andrew-molyuk-com/index.md
  content/projects/mongo-leader.md
  content/projects/mongo-leader/30514117718_480df224fa_o.jpg
  content/projects/mongo-leader/52361817786_899c077881_o.jpg
  content/projects/mongo-leader/index.md
  content/projects/openSCAD.md
  content/projects/openscad/33158317103_6568024025_o.jpg
  content/projects/openscad/index.md
  content/projects/pixar.md
  content/projects/pixar/20182329800_98c1023c49_o.jpg
  content/projects/pixar/index.md
  content/projects/thingiverse/15268795622_62d4808793_o.jpg
  content/projects/thingiverse/index.md
  layouts/projects/list.html
  layouts/projects/single.html
Due: npx remark --frail --quiet .

Decrease the PWA threshold
  netlify.toml
Due: none

Remove openSCAD as a project
  content/projects/openscad/33158317103_6568024025_o.jpg
  content/projects/openscad/index.md
Due: npx remark --frail --quiet .

Add Discus comments into the blog
  layouts/blog/single.html
Due: none

Remove some pages from audit
  netlify.toml
Due: none

Add disqus count.js
  layouts/blog/single.html
Due: none

Fix minor text issues
  layouts/projects/list.html
Due: none

Add links section
  content/links/_index.md
  content/links/aws.md
  content/links/covid.md
  content/links/go.md
  content/links/js.md
  content/links/misc.md
  content/links/softskills.md
  content/links/travel.md
  content/links/ux-ui.md
  content/projects/_index.md
  layouts/links/list.html
  layouts/partials/header.html
Due: npx remark --frail --quiet .

Add date and reading time count
  assets/css/styles.scss
  layouts/partials/blog-list.html
Due: npx stylelint --quiet

Add date and reading time count
  layouts/partials/tags.html
Due: none

Fix post dates
  content/blog/getting-started/index.md
  content/blog/golang-project-structure/index.md
  content/blog/howto-add-linters-to-hugo/index.md
  content/blog/howto-colorize-website-with-tailwindcss/index.md
  content/blog/howto-create-hugo-website/index.md
  content/blog/howto-deploy-hugo-site-with-guthub-actions/index.md
  content/blog/howto-deploy-hugo-to-netlify/index.md
  content/blog/howto-run-lighthouse-on-netlify/index.md
Due: npx remark --frail --quiet .

Fix rss texts
  layouts/blog/rss.xml
Due: none

Fix minor style issues
  layouts/blog/single.html
Due: none

Add post about task estimations
  content/blog/task-estimations-and-responsibility/7638504332_d6a0c9b07f_o.jpg
  content/blog/task-estimations-and-responsibility/index.md
Due: npx remark --frail --quiet .

Publish post about task estimations
  content/blog/task-estimations-and-responsibility/index.md
Due: npx remark --frail --quiet .

Add canonical url
  layouts/partials/head.html
Due: none

Add post about passing version info into docker
  content/blog/howto-pass-build-info-into-docker/9342285070_08b9400839_o.jpg
  content/blog/howto-pass-build-info-into-docker/index.md
  content/blog/howto-pass-build-info-into-docker/web-application.png
Due: npx remark --frail --quiet .

Fix image resolution
  content/blog/howto-pass-build-info-into-docker/web-application.png
Due: none

Fix minor style issues
  layouts/blog/single.html
  layouts/partials/blog-list.html
Due: none

Fix minor text issues
  layouts/index.html
Due: none

Fix minor style issues
  layouts/partials/pagination.html
Due: none

Add post about create vpc with ansible
  content/blog/howto-create-vpc-with-ansible/52294407519_1f447a000e_o.jpg
  content/blog/howto-create-vpc-with-ansible/aws-vpc.png
  content/blog/howto-create-vpc-with-ansible/index.md
Due: npx remark --frail --quiet .

Fix rss pages limit
  config.toml
Due: none

Fix rss pages limit
  content/blog/howto-create-vpc-with-ansible/index.md
Due: npx remark --frail --quiet .

Add comments counter
  layouts/blog/list.html
  layouts/partials/tags.html
Due: none

Fix comments counter
  layouts/partials/tags.html
Due: none

Fix comments counter
  layouts/blog/list.html
  layouts/blog/single.html
  layouts/partials/tags.html
Due: none

Fix comments counter styles
  layouts/partials/tags.html
Due: none

Fix minor typo
  content/blog/howto-colorize-website-with-tailwindcss/index.md
Due: npx remark --frail --quiet .

Fix styles and add cover image
  layouts/blog/single.html
  layouts/index.html
  layouts/partials/header.html
  static/cover.webp
Due: none

Fix minor style issues
  layouts/partials/blog-list.html
Due: none

Add avatar to cover
  layouts/index.html
  static/avatar.jpeg
Due: none

Add post about using gpg signature with GitHub
  content/blog/howto-add-gpg-to-github/8383038402_29b325970b_o.jpg
  content/blog/howto-add-gpg-to-github/github-commit.png
  content/blog/howto-add-gpg-to-github/github-gpg.png
  content/blog/howto-add-gpg-to-github/idea-gpg.png
  content/blog/howto-add-gpg-to-github/index.md
  content/blog/howto-add-gpg-to-github/pinentry.png
Due: npx remark --frail --quiet .

Fix minor text issues
  content/blog/howto-add-gpg-to-github/index.md
Due: npx remark --frail --quiet .

Path conditions:
  npx remark --frail --quiet .: any of: *.md
  npx stylelint --quiet: any of: *.{css,scss}
  npx eslint --quiet: any of: *.js
